<% title "Главная" %>

<% content_for :main_layout do %>
<div id="main_layout">

  <div class="nav-bar">
    <ul>
      <li><a href="#" class="nav-bar-train">Заказ Ж/Д билетов</a></li>
      <li><a href="#" class="nav-bar-plane">Заказ Авиа-билетов</a></li>
      <li><a href="#" class="nav-bar-car">Заказ Автомобилей</a></li>
      <li><a href="#" class="nav-bar-building">Заказ Гостиниц</a></li>
    </ul>
  </div>

  <div class="box-news main_news">
    <strong>Новости</strong>
    <div class="preview">
        <img src="/images/img35.jpg" alt="image description"/>
        <a href="#">Новая активная форма туризма<br/>вело туры по странам Европы</a>
    </div>
    <ul class="news_list">
      <% @new_turs.each do |tur| %>
          <li>
            <%= link_to image_tag(tur.image.url(:small), :width => "80"), tur, :class => "thumb", :title => tur.title %>
          </li>
      <% end %>
      <% @new_turs.each do |tur| %>
          <li>
            <%= link_to image_tag(tur.image.url(:small), :width => "80"), tur, :class => "thumb", :title => tur.title %>
          </li>
      <% end %>
      <% @new_turs.each do |tur| %>
          <li>
            <%= link_to image_tag(tur.image.url(:small), :width => "80"), tur, :class => "thumb", :title => tur.title %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="tabs-2">
  <div class="tabs-area">
    <script type="text/javascript">
        function tabSelect(obj) {
            jQuery('.tab-content').hide();
            jQuery('#' + obj).toggle();
            jQuery('.tabset li').removeClass('active');
            jQuery('#' + obj + '-head').addClass('active');
        }
    </script>
    <div class="decor">
      <div class="decor-holder">
        <div class="decor-frame">
          <ul class="tabset">
            <li id="tab-1-head" class="active">
              <a href="javascript:;" class="tab active" onclick="tabSelect('tab-1')">Туристам</a>
              <em> </em>
            </li>
            <li id="tab-2-head">
              <a href="javascript:;" class="tab" onclick="tabSelect('tab-2')">Туркомпаниям</a>
              <em> </em>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-content" id="tab-1" style="display: block">

      <div class="box-orange-bg-c">
        <span>
          <img src="images/ico-qn.png" alt="image description">
          <a href="#">Помощь пользователю</a>
        </span>
        <ul>
          <li>
            <img src="images/dig1.jpg" alt="image description">

            <div class="orange-holder">
              <strong>Найти исполнителя</strong>
              <em>Подобрать лучшее предложение по цене и качеству</em>
            </div>
          </li>
          <li>
            <img src="images/dig2.jpg" alt="image description">

            <div class="orange-holder">
              <strong>Задать вопрос на форуме</strong>
              <em>На вопросы отвечают профессионалы туристического бизнеса</em>
            </div>
          </li>
          <li>
            <img src="images/dig3.jpg" alt="image description">

            <div class="orange-holder">
              <strong>Узнать тенденции отдыха</strong>
              <em>Новости, статьи, интервью, фотоотчеты</em>
            </div>
          </li>
        </ul>
        <form class="redir select" action="#">
          <fieldset>
            <div class="redir-row">
              <label for="id4">Быстрый переход:</label>
              <%= select_tag "id3", "<option value=0>Выберите свой город</option>".html_safe + options_from_collection_for_select(City.all, "id", "name") %>
            </div>
            <div class="redir-row">
              <label for="id4">Найти:</label>
              <select id="id4">
                <option value="tour_operators">Туроператоры</option>
                <option value="tour_agencies">Турагенства</option>
                <option value="recreation_centers">Базы отдыха</option>
                <option value="sanatorium">Санатории</option>
                <option value="hostel">Гостиницы</option>
                <option value="taxi">Такси</option>
                <option value="guide">Гиды</option>
                <option value="hotels">Отели</option>
                <option value="mini_hotels">Мини-отели</option>
              </select>
              <input type="submit" value="">
            </div>
          </fieldset>
        </form>
        <script type="text/javascript">
            $("document").ready(function() {
                $("#frm_navigation").submit(function() {
                    if (parseInt($("#id3").val())) {
                        window.location.href = "/catalog/" + $("#id4").val() + "?city_id=" + $("#id3").val()
                    }
                    else {
                        window.location.href = "/catalog/" + $("#id4").val();
                    }
                    ;

                    return false;
                });
            });
        </script>
      </div>
    </div>
    <div class="tab-content" id="tab-2" style="display: none">

      <div class="box-orange-bg-c">
        <span>
          <img src="images/ico-qn.png" alt="image description">
          <a href="#">Помощь турагентства</a>
        </span>
        <ul>
          <li>
            <img src="images/dig1.jpg" alt="image description">

            <div class="orange-holder">
              <strong>Найти клиентов</strong>
              <em>Подобрать лучшее предложение по цене и качеству</em>
            </div>
          </li>
          <li>
            <img src="images/dig2.jpg" alt="image description">

            <div class="orange-holder">
              <strong>Пообщаться с коллегами</strong>
              <em>На вопросы отвечают профессионалы туристического бизнеса</em>
            </div>
          </li>
          <li>
            <img src="images/dig3.jpg" alt="image description">

            <div class="orange-holder">
              <strong>Узнать что-то новенькое</strong>
              <em>Новости, статьи, интервью, фотоотчеты</em>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div> <!-- tabs-2 -->

</div> <!-- main_layout -->
<% end %>

<% content_for :two_columns do %>
<div class="box-new-journal clearboth">
    <div class="box-new-journal-holder">
      <div class="box-new-journal-frame">
        <%= link_to t(:addNewTur), "#", :class => 'right' %>
        <strong><%= t(:lentaTurs) %></strong>

        <ul class="new_turs">
          <% @new_turs.each do |tur| %>
              <li>
                <%= link_to image_tag(tur.image.url(:small), :width => "80"), tur, :class => "thumb" %>
                <%= link_to tur.title, tur, :class => "name" %>
              </li>
          <% end %>
        </ul>

      </div>
    </div>
</div>

<% end %>

<div class="box-dark-orange-c">
  <div class="box-dark-orange-c-holder">
    <div class="box-dark-orange-c-frame">

      <div class="journal-favorites">
        <strong class="strong">Туристический журнал <em>Избранное</em></strong>
        <%= link_to t(:addNewJournal), "#", :class => 'right' %>
        <span>Статьи отобранные редакцией сайта <a href="/">turs.pro</a></span>
        <!--<span class="line-p-right"><img src="images/ico-qn.png" alt="image description"/><a class="add-post" href="#">Добавить свою статью</a></span>-->
        <ul>
          <% for post in @journals -%>
              <li>
                <em><%= Russian::strftime(post.created_at, "%d %B %Y") %></em>
                <!--a href="#"><strong></strong></a-->

                <p class="title"><%= link_to post.title, post %></p>

                <% @photos = post.journal_photos.limit(3)
                   if @photos.count > 0
                %>
                    <div class="img-holder">

                      <% for photo in @photos do %>
                          <%= image_tag photo.image.url(:small) %>
                          <!--<img src="/images/img42.jpg" alt="image description"/>-->
                      <% end %>
                    </div>
                <% end %>
                <p><%= truncate(post.text, 400, '...') %></p>
                <span>Раздел: <% if post.category %> <%= link_to post.category.name, post.category %> <% end %></span>
                <% if post.user %> | <span class="person <%= "pro" if ProAccount.activated( post.user) %>"><%= link_to post.user.name, company_profile_url(post.user) %></span><% end %>
                <span class="line-p-right">Комментарии <em>(<%= post.comments.recent.all.count %>)</em></span>
              </li>
          <% end -%>

        </ul>
      </div>
    </div>
  </div>
</div>
<!--div class="box-dark-orange-c">
                        <div class="box-dark-orange-c-holder">
                            <div class="box-dark-orange-c-frame">
                                <div class="forum-now">
                                    <strong>Обсуждают сейчас на форуме</strong>
                                    <ul>
                                        <li>
                                            <em>18 января 2011</em>
                                            <p>ФОТОСЕССИЯ для влюбленных БЕСПЛАТНО! (фотостудия "КБР")</p>
                                            <span>Раздел: <a href="#">Фотосессии</a> |  Разместил: <a href="#">Турагентство “Колумб”</a></span>
                                            <span class="line-p-right">Комментарии <em>(1)</em></span>
                                        </li>
                                        <li>
                                            <em>18 января 2011</em>
                                            <p>ФОТОСЕССИЯ для влюбленных БЕСПЛАТНО! (фотостудия "КБР")</p>
                                            <span>Раздел: <a href="#">Фотосессии</a> |  Разместил: <a href="#">Турагентство “Колумб”</a></span>
                                            <span class="line-p-right">Комментарии <em>(1)</em></span>
                                        </li>
                                        <li>
                                            <em>18 января 2011</em>
                                            <p>ФОТОСЕССИЯ для влюбленных БЕСПЛАТНО! (фотостудия "КБР")</p>
                                            <span>Раздел: <a href="#">Фотосессии</a> |  Разместил: <a href="#">Турагентство “Колумб”</a></span>
                                            <span class="line-p-right">Комментарии <em>(1)</em></span>
                                        </li>
                                        <li>
                                            <em>18 января 2011</em>
                                            <p>ФОТОСЕССИЯ для влюбленных БЕСПЛАТНО! (фотостудия "КБР")</p>
                                            <span>Раздел: <a href="#">Фотосессии</a> |  Разместил: <a href="#">Турагентство “Колумб”</a></span>
                                            <span class="line-p-right">Комментарии <em>(1)</em></span>
                                        </li>
                                        <li>
                                            <em>18 января 2011</em>
                                            <p>ФОТОСЕССИЯ для влюбленных БЕСПЛАТНО! (фотостудия "КБР")</p>
                                            <span>Раздел: <a href="#">Фотосессии</a> |  Разместил: <a href="#">Турагентство “Колумб”</a></span>
                                            <span class="line-p-right">Комментарии <em>(1)</em></span>
                                        </li>
                                    </ul>
                                    <a class="forum-all" href="#">» Все темы форума</a>
                                </div>
                            </div>
                        </div>
                    </div-->
</div>
</div>
</div>