<li>
  <span>
  <%#= raise comment.user.inspect %>
    <%= if comment.user
            image_tag comment.user.avatar.url(:thumbnail)
        else
            image_tag("avatar.jpg")
        end
    %>
  </span>
  <p>
    <strong>
    <% if comment.user %>
       <%= link_to comment.user.email, company_profile_url(comment.user) %>
    <% elsif comment.title %>
       <%= comment.title %>
    <% end %>
    </strong> &rarr;
    <%= Russian::strftime(comment.created_at, "%d %B %Y") %>
  </p>
  <%= simple_format comment.comment %>
</li>