<%= form_for [:admin, @news], :html => {:multipart => true}  do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Заголовок" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">

    <%= f.label "Описание" %><br />
    <%= f.text_area :description %>
  </div>

    <div class="field">

    <%= f.label "Картинка" %><br />
    <%= f.file_field :image %>
      <%= image_tag @news.image.url(:small) if @news.image.present? %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
