



  <p>
        <%= hidden_field :user, :coord_lat %>
        <%= hidden_field :user, :coord_long %>
        <div id="object_map" class="fix_map float_left" style="width:95%;height:500px;"></div>
        <!--<div class="map_desc">Если точка на карте неправильно определилась, переместите маркер в корректное положение.</div>-->
<script type="text/javascript">
    var address = '';
    var company_coord = '';
    var drag_marker = true;
    var old_point = 0;
    var marker = 0;
    var map = 0;

    var s = new YMaps.Style();
s.balloonContentStyle = new YMaps.BalloonContentStyle(
    new YMaps.Template("<div style='float: left; margin-right: 5px; height: 90px; overflow: hidden;'> "
            +" <img style='float: left;margin-right: 5px;' src=\"$[img]\"> </img>"
            +" <div style='float: right;'>"
            +"<a href=\" $[prof_url]\"> $[name] </a> "
            +"<p>$[address]</p>"
            +"<p>$[slogan]</p>"
            +"<p>$[phone]</p>"
            +"</div>"
            +"<div style='clear: both;float: left; padding-top:5px;'>"
            +"<ul style='margin-top: 5px;'>"
            +"<li style='display:inline; margin-right: 5px;'>$[catalog]</li>"
            +"<li style='display:inline; margin-right: 5px;'>|</li>"
            +"<li style='display:inline; margin-right: 5px;'>$[city]</li>"
            +"</ul>"
            +"</div>"
            +"</div>")
);

    function initMaps(name){
        if (company_coord) {
            $('#coord_div').show();
            map = new YMaps.Map(document.getElementById("object_map"));
            map.setCenter(company_coord, 16);
            map.addControl(new YMaps.SmallZoom());
            marker = new YMaps.Placemark(company_coord, {style: s});
            marker.name = '<%= @user.name %>';
            marker.address = '<%= @user.address %>';
            marker.slogan = '<%= @user.slogan %>';
            marker.img = '<%= @user.avatar.url(:small) %>';
            marker.prof_url = '<%= company_profile_url(@user) %>';
            marker.phone = '<%= @user.phone %>';
            marker.catalog = '<%= type_profiles(@user) %>';
            marker.city = '<%= @user.city.name if @user.city %>';
            map.addOverlay(marker);
            marker.openBalloon();
        <% if current_user.id == params[:profile_id] %>
            YMaps.Events.observe(marker, marker.Events.DragStart, function () {
                old_point = this.getCoordPoint();
            });
            YMaps.Events.observe(marker, marker.Events.DragEnd, function () {
                if (confirm('Сохранить новое положение указателя?')) {
                    company_coord = marker.getCoordPoint();
                    $("#user_coord_lat").val(company_coord.getY());
                    $("#user_coord_long").val(company_coord.getX());
                    map.panTo(company_coord);
                } else {
                    map.panTo(old_point);
                    marker.setCoordPoint(old_point);
                }
            });
        <% end %>
        } else {
            $('#coord_div').hide();
        }
    }
    function reloadMaps() {
        if ($('#user_address').val().length == 0) return;
        var geocoder = new YMaps.Geocoder($('#user_address').val() );
        YMaps.Events.observe(geocoder, geocoder.Events.Load, function () {
            if (this.length) {
                company_coord = this.get(0).getGeoPoint();
                $("#user_coord_lat").val(company_coord.getY());
                $("#user_coord_long").val(company_coord.getX());
                initMaps($('#user_address').val());
            } else {
                $('#coord_div').hide();
            }
        });
    }
<% if @user.coord_long and @user.coord_lat %>
    company_coord = new YMaps.GeoPoint(<%= @user.coord_long %>, <%= @user.coord_lat %>);
    <%
       adr = []
       adr += [@user.address]
       adr.delete("")
    %>
    initMaps('<%= adr.join(', ') %>');
<% end %>

<%# unless @current_area %>
$('.noedit_2').hide();
<%# end %>
</script>
</p>
