<h1><%= t(:edit_profile) %></h1>


<% form_for(@user, :url =>{:controller => "company/profiles", :action => :update}, :id=> "userForm", :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<%= f.hidden_field :is_sanatorium %>

        <%= f.hidden_field :is_tour_operator %>
        <%= f.hidden_field :is_recreation_center %>
        <%= f.hidden_field :is_hostel %>
        <%= f.hidden_field :is_guide %>
        <%= f.hidden_field :is_taxi %>
        <%= f.hidden_field :is_mini_hotel %>
        <%= f.hidden_field :is_tour_agency %>
        <%= f.hidden_field :is_hotel %>
    <p>
      <%#= image_tag @user.avatar.url(:medium) if @user.avatar.present? %>

      <script type="text/javascript">
	function submit_avatar(){
		$.ajax({
			url: "<%= user_url(@user, :method=>:put) %>",
			dataType: "script",
			data: $("#userFormr").serialize() + '&' + $('#avatar').serialize()
		});
		return false;
	};
    </script>

    <%= f.label t(:avatar) %><br />
    <%= f.file_field :avatar, :id=>"avatar"%>
    <%= image_tag @user.avatar.url(:small) if @user.avatar.present?  %>
      <%= image_tag @user.avatar.url(:thumbnail) if @user.avatar.present?  %>
  </p>
<div id="crop_div"></div>
    <p>

    <%= f.label t(:picture) %><br />
    <%= f.file_field :picture %>
  </p>

    <p>
    <%= f.label t(:user_name) %><br />
    <%= f.text_field :name %>
  </p>

    <p>

      <%= f.label t(:profile_type) %><br />
    <%= select 'us' ,'type' , {"Отель" => 1,
                       "Туроператор" => 2,
                       "База отдыха" => 3,
                       "Санаторий" => 4,
                       "Гостинница" => 5,
                       "Гид" => 6,
                       "Такси" => 7,
                       "Мини отель" => 8,
                       "Турагенство" => 9} %>

    </p>

  <p>
    <%= f.label t(:addr) %><br />
    <%= f.text_field :address, :onblur => "reloadMaps()" %>
  </p>




  <p>
        <%= f.hidden_field :coord_lat %>
        <%= f.hidden_field :coord_long %>
        <div id="object_map" class="fix_map float_left" style="width:400px;height:200px;"></div>
        <div class="map_desc">Если точка на карте неправильно определилась, переместите маркер в корректное положение.</div>
		<script type="text/javascript">
    var address = '';
    var company_coord = '';
    var drag_marker = true;
    var old_point = 0;
    var marker = 0;
    var map = 0;

    function initMaps(name){
        if (company_coord) {
            $('#coord_div').show();
            map = new YMaps.Map(document.getElementById("object_map"));
            map.setCenter(company_coord, 16);
            map.addControl(new YMaps.SmallZoom());
            marker = new YMaps.Placemark(company_coord, {draggable:drag_marker});
            marker.name = name;
            map.addOverlay(marker);
            //marker.openBalloon();
        <% if current_user.id == params[:profile_id] %>
            YMaps.Events.observe(marker, marker.Events.DragStart, function () {
                old_point = this.getCoordPoint();
            });
            YMaps.Events.observe(marker, marker.Events.DragEnd, function () {
                if (confirm('Сохранить новое положение указателя?')) {
                    company_coord = marker.getCoordPoint();
                    $("#user_coord_lat").val(company_coord.getY());
                    $("#user_coord_long").val(company_coord.getX());
                    map.panTo(company_coord);
                } else {
                    map.panTo(old_point);
                    marker.setCoordPoint(old_point);
                }
            });
        <% end %>
        } else {
            $('#coord_div').hide();
        }
    }
    function reloadMaps() {
        if ($('#user_address').val().length == 0) return;
        var geocoder = new YMaps.Geocoder($('#user_address').val() );
        YMaps.Events.observe(geocoder, geocoder.Events.Load, function () {
            if (this.length) {
                company_coord = this.get(0).getGeoPoint();
                $("#user_coord_lat").val(company_coord.getY());
                $("#user_coord_long").val(company_coord.getX());
                initMaps($('#user_address').val());
            } else {
                $('#coord_div').hide();
            }
        });
    }
<% if @user.coord_long and @user.coord_lat %>
    company_coord = new YMaps.GeoPoint(<%= @user.coord_long %>, <%= @user.coord_lat %>);
    <%
       adr = []
       adr += [@user.address]
       adr.delete("")
    %>
    initMaps('<%= adr.join(', ') %>');
<% end %>

<%# unless @current_area %>
$('.noedit_2').hide();
<%# end %>
</script>
  </p>


  <p>
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label t(:company_slogan) %><br />
    <%= f.text_field :slogan %>
  </p>
  <p>
    <%= f.label t(:company_about) %><br />
    <%= f.text_area :about %>
  </p>

    <p>
    <%= f.label t(:company_info) %><br />
    <%= f.text_area :info %>
  </p>
    <p>
    <%= f.label t(:price) %><br />
    <%= f.text_field :price %>
  </p>
    <p>
    <%= f.label t(:link_to_site) %><br />
    <%= f.text_field :link_to_site %>
  </p>
    <p>
    <%= f.label t(:exclus) %><br />
    <%= f.text_field :exclus %>
  </p>
   <p>
    <%= f.label t(:vkontakte_url) %><br />
    <%= f.text_field :vkontakte_url %>
  </p>
    <p>
    <%= f.label t(:jj_url) %><br />
    <%= f.text_field :jj_url %>
  </p>
    <p>
    <%= f.label t(:facebook_url) %><br />
    <%= f.text_field :facebook_url %>
  </p>
    <p>
    <%= f.label t(:twitter_url) %><br />
    <%= f.text_field :twitter_url %>
  </p>

    <p>
    <%= f.label t(:reestr_number) %><br />
    <%= f.text_field :reestr_number %>
  </p>

  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<%= link_to t(:show), company_profile_url(@profile) %> |
<%= link_to t(:back), company_profiles_path %>
