<div class="box-orange">
  <div class="box-orange-frame">
    <% if params[:id].to_i.eql?(current_user.id.to_i) %>
        <ul class="edit">
          <li><%= link_to t(:edit_stend), edit_company_stend_url %></li>
          <li>|</li>
          <li><%= link_to t(:edit_profile), edit_company_profile_url(current_user) %></li>
          <li>|</li>
          <li><%= link_to t(:settings), edit_user_url(current_user) %></li>
        </ul>
    <% end %>
    <div class="post">
      <ul class="stat">
        <li><img src="/images/ico-small-list.png" alt="image description"/>Рейтинг: <span><%= @profile.raiting %></span>
        </li>
        <li><img src="/images/ico-small-arrow.png" alt="image description"/>Просмотров:
          <span><%= @profile.review %></span></li>
        <li><img src="/images/ico-small-dollar.png" alt="image description"/>Цена: <span><%= @profile.price %></span>
        </li>
        <li><img src="/images/ico-small-book.png" alt="image description"/>Статьи:
          <span><%= @profile.journals.count %></span></li>
      </ul>
      <!--<h1>Скидка от фирмы для для пользователей сайта TursPro.ru</h1>-->
      <%= image_tag @profile.avatar.url(:small), :style => "float:left; padding:15px;" %>
      <strong><%= type_profile(@profile) %> “<%= @profile.name %>”</strong>

      <p><span>Наш девиз:</span> <%= @profile.slogan %> </p>

      <p><span>Эксклюзивно:</span> <%= @profile.exclus %></p>

      <div class="block">
      <script type="text/javascript">
          $("#foo2").carouFredSel({
              items : {
	          visible         : 3
	          },
              circular: false,
              infinite: false,
              auto 	: false,
              scroll	: {
                  items	: "page"
              },
              prev	: {
                  button	: "#foo2_prev",
                  key		: "left"
              },
              next	: {
                  button	: "#foo2_next",
                  key		: "right"
              },
              pagination	: "#foo2_pag"
          });

      </script>
        <div class="diploms">
          <strong>Наши награды</strong>
          <% @rew = @profile.rewards %>
          <% if @rew.size > 0 %>
          <div class="image_carousel">
              <div id="foo2">
                 <% @rew.each do |rew| %>
                    <%= image_tag(rew.image.url(:thumbnail))%>
                  <% end %>
              </div>
              <div class="clearfix"></div>
              <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
              <a class="next" id="foo2_next" href="#"><span>next</span></a>
              <div class="pagination" id="foo2_pag"></div>
          </div>
          <% end %>

        </div>
        <%# if @profile.is_recomended? %>
        <img class="recomend" src="/images/ico-recomend.png" alt="image description"/><%# end %>
      </div>
    </div>
    <div class="box-foto">
      <strong>Спешите</strong>

      <div class="there_block zd_calend_bl">
        <div class="title_month">

          <div class="month_slider">
            <div id="rw_month_left"></div>
            <div class="value" id="rw_month">Ноябрь</div>
            <div id="rw_month_right">
              <div class="arrow_next">&nbsp;</div>
            </div>
            <div class="year_slider">
              <div class="item sel" id="rw_year_now"><span>2011</span></div>
              <div class="item" id="rw_year_next"><span>2012</span></div>

            </div>
          </div>
        </div>
        <div class="month_block">
          <div class="date_list">
            <table class="calend_tbl rw_calendar" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr class="week_line">
                <td>Пн</td>

                <td>Вт</td>
                <td>СР</td>
                <td>Чт</td>
                <td>Пт</td>
                <td>Сб</td>
                <td>Вс</td>

              </tr>
              <tr>
                <td>
                  <div class="date passed"></div>
                </td>
                <td class="days" id="1">
                  <div class="date">1
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="2">
                  <div class="date">2
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="3">
                  <div class="date">3
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="4">
                  <div class="date">4
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="5">
                  <div class="date">5
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="6">
                  <div class="date">6
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="days" id="7">
                  <div class="date">7
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="8">
                  <div class="date">8
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="9">
                  <div class="date">9
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="10">
                  <div class="date">10
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="11">
                  <div class="date">11
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="12">
                  <div class="date">12
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="13">
                  <div class="date">13
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="days" id="14">
                  <div class="date">14
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="15">
                  <div class="date">15
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="16">
                  <div class="date">16
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="17">
                  <div class="date">17
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="18">
                  <div class="date">18
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="19">
                  <div class="date">19
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="20">
                  <div class="date">20
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="days" id="21">
                  <div class="date">21
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="22">
                  <div class="date">22
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="23">
                  <div class="date">23
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="24">
                  <div class="date">24
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="25">
                  <div class="date">25
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="26">
                  <div class="date">26
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="27">
                  <div class="date">27
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="days" id="28">
                  <div class="date">28
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="29">
                  <div class="date">29
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
                <td class="days" id="30">
                  <div class="date">30
                    <div class="choose_this">Задайте маршрут на эту дату</div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="bottom_bg_month">&nbsp;</div>
      </div>

    </div>
    <div class="box-foto">
      <strong>Избранные фото<span>» <%= link_to "Все фото", company_photos_url(@profile) %></span></strong>

      <div class="foto-holder">
        <ul id="gallery">
          <% @photos = @profile.photos.limit(4) %>
          <% @photos.each do |photo| %>
              <li>

                <%= image_tag photo.image.url(:small), :class => 'slide-img' %>
                <%= hidden_field_tag 'slide-img-big', photo.image.url(:large), :class => 'slide-img-big' %>

              </li>
          <% end %>
          <!--<li>-->
          <!--<img src="/images/img33.jpg" alt="image description"/>-->
          <!--</li>-->
          <!--<li>-->
          <!--<img src="/images/img34.jpg" alt="image description"/>-->
          <!--</li>-->
          <!--<li>-->
          <!--<img src="/images/img33.jpg" alt="image description"/>-->
          <!--</li>-->
          <!--<li>-->
          <!--<img src="/images/img34.jpg" alt="image description"/>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
    <div class="service">
      <div class="service-left">

        <table class="stend">
          <thead>
          <tr>
            <th colspan="3"><span><%= t(:stend) %></span></th>
          </tr>
          </thead>
          <tbody>
          <% @stends.each do |stend| %>
              <tr>
                <td>
                  <span><%= image_tag stend.country.flag.url(:mini) %> <%= stend.country.title %></span><span class="peak"></span>
                </td>
                <td><span><%= stend.days %> дней</span><span class="peak"></span></td>
                <td><span>от <em><%= stend.price %>$</em></span><span class="peak"></span></td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
      <div class="service-right">
        <table class="stend">
          <thead>
          <tr>
            <th colspan="2"><span><%= t(:naprav) %></span></th>
          </tr>
          </thead>
          <tbody>
          <% @directions = @profile.directions.limit(9) %>
          <tr>
            <td><span style="float: left;"><% if @directions[0] %><%= image_tag @directions[0].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[0].country.title %></em><% end %></span></td>
            <td><span style="float: left;"><% if @directions[1] %><%= image_tag @directions[1].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[1].country.title %></em><% end %></span></td>
          </tr>
          <tr>
            <td><span style="float: left;"><% if @directions[2] %><%= image_tag @directions[2].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[2].country.title %></em><% end %></span></td>
            <td><span style="float: left;"><% if @directions[3] %><%= image_tag @directions[3].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[3].country.title %></em><% end %></span></td>
          </tr>
          <tr>
            <td><span style="float: left;"><% if @directions[4] %><%= image_tag @directions[4].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[4].country.title %></em><% end %></span></td>
            <td><span style="float: left;"><% if @directions[5] %><%= image_tag @directions[5].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[5].country.title %></em><% end %></span></td>
          </tr>
          <tr>
            <td><span style="float: left;"><% if @directions[6] %><%= image_tag @directions[6].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[6].country.title %></em><% end %></span></td>
            <td><span style="float: left;"><% if @directions[7] %><%= image_tag @directions[7].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[7].country.title %></em><% end %></span></td>
          </tr>
          <tr>
            <td><span style="float: left;"><% if @directions[8] %><%= image_tag @directions[8].country.flag.url(:mini) %>
                  <em class="dir"><%= @directions[8].country.title %></em><% end %></span></td>
            <td><span style="float: left;"><%= link_to "» Все направления", "" %></span></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="text-box">
      <strong>Почему именно мы?!</strong>

      <p><%= @profile.about %></p>
    </div>
    <% if current_user.present? && current_user.id != @profile.id && !(current_user.recommended_users.include? @profile) %>
        <a class="btn-proritet" href="<%= add_recommendation_company_profile_url %>">Рекомендовать</a>
    <% end %>
    <% if current_user.present? && current_user.id != @profile.id && !(current_user.members.include? @profile) %>
        <a class="btn-proritet" href="<%= add_to_command_company_profile_url %>">Добавить в команду</a>
    <% end %>
    <% if current_user.present? && current_user.id != @profile.id && !(current_user.favorites.include? @profile) %>
        <a class="btn-proritet" href="<%= add_favorite_company_profile_url %>"><img src="/images/btn-add-prioritet.png" alt="image description"/></a>
    <% end %>
    <div class="box-gids">
      <strong>Наши гиды</strong>

      <div class="gids-holder">
        <ul>
          <li><img src="/images/img11.jpg" alt="image description"/></li>
          <li><img src="/images/img11.jpg" alt="image description"/></li>
          <li><img src="/images/img11.jpg" alt="image description"/></li>
        </ul>
      </div>
      <span>» <a href="#">Все фото</a></span>
    </div>
  </div>
</div>
<div class="box-journal">
  <% @posts = @profile.journals %>
  <div class="journal-holder">
    <em>Туристический журнал (<%= link_to @profile.journals.count, journals_path(:user_id => @profile.id) %>)</em>
  </div>
  <% @posts.each do |post| %>
      <!--<img src="/images/ico-recomend.jpg" alt="image description"/>-->

      <div class="journal-holder">
        <!--<em>Туристический журнал</em>-->

        <!--<div class="paging-holder">-->
        <!--<span>18 января 2011</span>-->
        <!--<ul class="paging">-->
        <!--<li><a class="p-home" href="#">home</a></li>-->
        <!--<li><a class="p-prev" href="#">prev</a></li>-->
        <!--<li><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li>...</li>-->
        <!--<li><a href="#">34</a></li>-->
        <!--<li><a class="p-next" href="#">next</a></li>-->
        <!--<li><a class="p-end" href="#">end</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <strong><%= link_to post.title, post %></strong>
      </div>
      <div class="journal-img-holder">
        <ul>
          <% @photos = post.journal_photos.limit(3) %>
          <% for photo in @photos do %>
              <li><%= image_tag photo.image.url(:small) %></li>
              <!--<img src="/images/img42.jpg" alt="image description"/>-->
          <% end %>

        </ul>
      </div>
      <p><%= h post.text %></p>

      <div class="line">
        <em>Коментарии: <a href="#"><%= post.comments.recent.all.count %></a> </em>
        <span><% if post.category %> <%= link_to post.category.name, post.category %>
              <% end %><% if post.user %> | <%= link_to post.user.email, company_profile_url(post.user) %><% end %></span>
      </div>
  <% end %>
</div>
<div class="box-comand">
  <strong>Команда</strong>

  <div class="box-comand-holder">
    <ul>
      <% for headed_team in @profile.headed_teams.where(:is_confirmed => true).limit(4) %>
          <li>
            <img src="<%= headed_team.member.avatar.url(:small) %>" alt="<%= headed_team.member.display_name %>"/>

            <div class="comand-holder">
              <img src="/images/ico-pro.png" alt="image description"/>
              <strong><a href="<%= company_profile_url(headed_team.member_id) %>"><%= headed_team.member.display_name %></a></strong>
              <span><img src="/images/ico-list.png" alt="image description"/>Рейтинг: <em><%= headed_team.member.raiting %></em></span>
              <span><img src="/images/ico-arrow.png" alt="image description"/>Просмотров: <em><%= headed_team.member.review %></em></span>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="box-comand">
  <strong>Нас рекомендуют</strong>

  <div class="box-comand-holder">
    <ul>
      <% for referee in @profile.referees.limit(4) %>
          <li>
            <img src="<%= referee.avatar.url(:small) %>" alt="<%= referee.display_name %>"/>

            <div class="comand-holder">
              <img src="/images/ico-pro.png" alt="image description"/>
              <strong><a href="<%= company_profile_url(referee.id) %>"><%= referee.display_name %></a></strong>
              <span><img src="/images/ico-list.png" alt="image description"/>Рейтинг: <em><%= referee.raiting %></em></span>
              <span><img src="/images/ico-arrow.png" alt="image description"/>Просмотров: <em><%= referee.review %></em></span>
            </div>
          </li>
      <% end %>
      <li>

    </ul>
  </div>
</div>
<!-- <div class="bottom-paging-holder">
  <ul class="paging">
    <li><a class="p-home" href="#">home</a></li>
    <li><a class="p-prev" href="#">prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">34</a></li>
    <li><a class="p-next" href="#">next</a></li>
    <li><a class="p-end" href="#">end</a></li>
  </ul>
</div>-->