<table class="registration">
  <tr>
    <th>Заказчик</th>
    <th>Исполнитель</th>
  </tr>
  <tr>
    <td>
      <%= form_for :user , :url => users_url do |form| %>
          <%= form.error_messages %>
          <%= hidden_field_tag "user[is_user]", true %>

          <p><label for="login"><%= I18n.t 'txt.login_name', :default => 'Login' %></label><br/>
            <%= form.text_field :login %></p>

          <p><label for="email"><%= I18n.t 'txt.email', :default => 'Email' %></label><br/>
            <%= form.text_field :email %></p>

          <p><label for="password"><%= I18n.t 'txt.password', :default => 'Password' %></label><br/>
            <%= form.password_field :password %></p>

          <p>
            <label for="password_confirmation"><%= I18n.t 'txt.password_confirm', :default => 'Confirm Password' %></label><br/>
            <%= form.password_field :password_confirmation %></p>

          <p>
            <%= form.simple_captcha :label => "Введите значение" %>
          </p>
          <!--<p><label for="user_openid_url"><%= I18n.t 'txt.openid_url', :default => "OpenID URL (optional)" %></label><br />-->
          <%#= f.text_field :openid_url %>
          <!--</p>-->
          <p>Нажимая на кнопку зарегистрироваться Вы принимаете
            условия <%= link_to "пользовательского соглашения", main_users_license_url %></p>
          <%#= render :partial => 'captcha' # enable for brainbuster %>

          <p><%= submit_tag I18n.t('txt.sign_up', :default => 'Sign up') %></p>

      <% end %>
    </td>
    <td>
      <%= form_for :user2, :url => users_url do |f| %>
          <%= f.error_messages %>
          <%= hidden_field_tag "user[is_user]", false %>
          <p><label for="login"><%= I18n.t 'txt.login_name', :default => 'Login' %></label><br/>
            <%= f.text_field :login %></p>

          <p><label for="email"><%= I18n.t 'txt.email', :default => 'Email' %></label><br/>
            <%= f.text_field :email %></p>

          <p><label for="password"><%= I18n.t 'txt.password', :default => 'Password' %></label><br/>
            <%= f.password_field :password %></p>

          <p>
            <label for="password_confirmation"><%= I18n.t 'txt.password_confirm', :default => 'Confirm Password' %></label><br/>
            <%= f.password_field :password_confirmation %></p>

          <p>
            <%= f.simple_captcha :label => "Введите значение" %>
          </p>

          <p>Нажимая на кнопку зарегистрироваться Вы принимаете
            условия <%= link_to "пользовательского соглашения", main_company_license_url %></p>
          <%#= render :partial => 'captcha' # enable for brainbuster %>

          <p><%= submit_tag I18n.t('txt.sign_up', :default => 'Sign up') %></p>

      <% end %>
    </td>
  </tr>
</table>
