<div id="sidebar">
  <div class="box-card">
    <strong>Визитная карточка</strong>
    <%= image_tag @profile.picture.url(:card), :width => 260, :height => 330 %>
  </div>
  <div class="box-blue">
    <div class="box-blue-holder">
      <div class="box-blue-frame">
        <strong><% if ProAccount.activated(@profile)%>
                    <%= image_tag "ico-pro.png"%>
                <% else %>
                    <%= image_tag "ico-person-gs.png"%>
                <% end %><%= @profile.name %></strong>
        <ul class="naving">
          <li><a href="#">Санатории</a> /</li>
          <li><a href="#">РФ</a></li>
        </ul>
        <ul class="info">
          <li><img src="/images/ico-person.png" alt="image description"/>Колумб</li>
          <% if @profile.address %><li><img src="/images/ico-home.png" alt="image description"/><%= @profile.address %></li><% end %>
          <% if @profile.phone.present? %><li><img src="/images/ico-phone.png" alt="image description"/><%= @profile.phone %></li><% end %>
          <% if @profile.icq.present? %><li><img src="/images/ico-icq.png" alt="image description"/><%= @profile.icq %><%#= link_to @profile.icq, "http://wwp.icq.com/scripts/contact.dll?msgto=" + @profile.icq %></li><% end %>
          <% if @profile.skype.present? %><li><img src="/images/ico-skype.png" alt="image description"/><%= link_to @profile.skype, "skype:" + @profile.skype + "?call" %></li><% end %>
          <% if @profile.address %><li><img src="/images/ico-mail.png" alt="image description"/><%= @profile.address %></li><% end %>
          <% if @profile.address %><li><img src="/images/ico-link.png" alt="image description"/><%= @profile.address %></li><% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="box-grey">
	  <% if LinkToSite.activated(@profile) %>
	  <strong> <%= t(:link_service) %></strong>
		  <ul class="info">
		      	<li><a href="<%= @profile.link_to_site %>"><%= @profile.link_to_site %></a> </li>
		  </ul>
	  <% end %>
	  <strong><%= t(:my_social) %></strong>
	  <ul class="info">
    	<% if LinkToSite.activated(@profile) %><li>Ссылкана сайт <a href="<%= @profile.link_to_site %>"><%= @profile.link_to_site %></a> </li><% end %>
		<% if @profile.vkontakte_url.present? %><li> <%= t(:vkontakte_url) %> <a href="<%= @profile.vkontakte_url.html_safe %>"><%= @profile.vkontakte_url %></a> </li><% end %>
		<% if @profile.jj_url.present? %><li> <%= t(:jj_url) %> <a href="<%= @profile.jj_url.html_safe %>"><%= @profile.jj_url %></a> </li><% end %>
		<% if @profile.facebook_url.present? %><li> <%= t(:facebook_url) %> <a href="<%= @profile.facebook_url.html_safe %>"><%= @profile.facebook_url %></a> </li><% end %>
		<% if @profile.twitter_url.present? %><li> <%= t(:twitter_url) %> <a href="<%= @profile.twitter_url.html_safe %>"><%= @profile.twitter_url %></a> </li><% end %>
		<% if @profile.classmates_url.present? %><li> <%= t(:classmates_url) %> <a href="<%= @profile.classmates_url.html_safe %>"><%= @profile.classmates_url %></a> </li><% end %>
		<% if @profile.google_buzz_url.present? %><li> <%= t(:google_buzz_url) %> <a href="<%= @profile.google_buzz_url.html_safe %>"><%= @profile.google_buzz_url %></a> </li><% end %>
		<% if @profile.my_mail_url.present? %><li> <%= t(:my_mail_url) %> <a href="<%= @profile.my_mail_url.html_safe %>"><%= @profile.my_mail_url %></a> </li><% end %>
		<% if @profile.ya_ru_url.present? %><li> <%= t(:ya_ru_url) %> <a href="<%= @profile.ya_ru_url.html_safe %>"><%= @profile.ya_ru_url %></a> </li><% end %>
	  </ul>
  </div>
	<% if current_user.present? && current_user.id == @profile.id && @profile.teams.where(:is_confirmed => false).any? %>
		<div class="box-blue">
			<div class="box-blue-frame">
				<strong>Вас добавили в команду:</strong>

			  <ul class="info">
				<% for team in @profile.teams.where(:is_confirmed => false) %>
					<li>
					<img src="<%= team.leader.avatar.url(:small) %>" alt="<%= team.leader.display_name %>"/>
					<div class="comand-holder">
						<img src="/images/ico-pro.png" alt="image description"/>
						<strong><a href="<%= company_profile_url(team.leader_id) %>"><%= team.leader.display_name %></a></strong>
						<span><img src="/images/ico-list.png" alt="image description"/>Рейтинг: <em><%= team.leader.raiting %></em></span>
						<span><img src="/images/ico-arrow.png" alt="image description"/>Просмотров: <em><%= team.leader.review %></em></span>
					</div>
					  <%= link_to "Принять", accept_command_call_url(:command_id => team.id) %><%= link_to "Отклонить", decline_command_call_url(:command_id => team.id) %>
					</li>
				<% end %>
			  </ul>
			</div>
		</div>
	<% end %>
</div>