<div class="aside">

<% if params[:controller].eql?('main') %>



<div class="box-kurs">
  <strong>Курс валюты</strong>
  <span>Сегодня: <em>14.12.2010</em></span>

  <ul>
    <li>USD | <span><b id='insert_rate_USD_1322416485'>//-//</b></span></li>
    <li>EUR | <span><b id='insert_rate_EUR_1322416485'>//-//</b></span></li>
  </ul>
  <!--<div class="box-kurs">-->
  <!--<ul>-->
  <!--<li>USD | <span><script type="text/javascript">$("#insert_rate_USD_1322416485").val;</script></span></li>-->
  <!--<li>EUR | <span><script type="text/javascript">$("#insert_rate_EUR_1322416485").val;</script></span></li>-->
  <!--</ul>-->

</div>
      <% end %>
  <% if @profile && @profile.is_user && params[:controller].eql?('company/profiles') %>
 <div class="box-r">
  <div class="box-r-holder">
    <div class="box-r-frame">
    <ul class="stat" style="float: left;">
        <li><img src="/images/ico-small-list.png" alt="image description"/>Рейтинг:
          <span><%= @profile.raiting %></span>
        </li>
        <li><img src="/images/ico-small-arrow.png" alt="image description"/>Просмотров:
          <span><%= @profile.review %></span></li>
        <li><img src="/images/ico-small-book.png" alt="image description"/>Статьи:
          <span><%= @profile.journals.count %></span></li>
      </ul>
    </div>
   </div>
 </div>

<div class="box-r">
  <div class="box-r-holder">
    <div class="box-r-frame">
      <strong>Поделюсь впечатлениями о</strong>
      <ul>
        <% if @profile.user_countries %>
        <% @profile.user_countries.limit(5).each do |user_country|%>
            <%= image_tag user_country.country.flag.url(:small) %>
            <%= user_country.country.title%>
        <% end %>
        <% end %>
      </ul>
    </div>
   </div>
 </div>

<div class="box-r">
  <div class="box-r-holder">
    <div class="box-r-frame">
      <strong>Расскажу об отеле</strong>
      <ul>
        <% if @profile.user_hotels %>
          <% @profile.user_hotels.limit(5).each do |hotel|%>
            <%= hotel.name %>
          <% end %>
        <% end %>
      </ul>
    </div>
   </div>
 </div>

 <% end %>
<div class="box-r">
  <div class="box-r-holder">
    <div class="box-r-frame">



<div class="vk_like_company">
<script charset="utf-8" src="//yandex.st/share/share.js" type="text/javascript"></script>
<script type="text/javascript">
    new Ya.share({
        'element': 'ya_share1',
        'elementStyle': {
            'type': 'button',
            'linkIcon': true,
            'border': false,
            'quickServices': ['yaru', 'vkontakte', 'twitter', 'odnoklassniki', 'moimir']
        },
        'popupStyle': {
            'copyPasteField': true
        }
    });
</script>
<span id="ya_share1">
  <span class="b-share">
    <a data-vdirection="" data-hdirection="" id="ya-share-0.8343438109049174-1322680012720" class="b-share__handle">
      <span class="b-share-form-button b-share-form-button_share">
        <i class="b-share-form-button__before"></i>
        <i class="b-share-form-button__icon"></i>Поделиться…
        <i class="b-share-form-button__after"></i>
      </span></a>
  </span>
</span>
</div>

    </div>
  </div>
</div>

<div class="box-r">
  <div class="box-r-holder">
    <div class="box-r-frame">
      <strong>Страны</strong>

      <div class="flag-list-holder">
        <% @ids = Country.select(:id).in_list.all %>
        <ul class="flag-list">
          <li>
            <% @country1 = Country.in_list.where(:id => @ids[rand(@ids.size)]) %>
            <% if @country1 && @country1.first && @country1.size > 0 %>
                <%= link_to image_tag(@country1.first.flag.url(:thumb)), @country1.first %><%= link_to @country1.first.title, @country1.first %>
            <% end %>
          </li>
          <li>
            <% @country2 = Country.in_list.where(:id => @ids[rand(@ids.size)]) %>
            <% if @country2 && @country2.first && @country2.size > 0 %>
                <%= link_to image_tag(@country2.first.flag.url(:thumb)), @country2.first %><%= link_to @country2.first.title, @country2.first %>
            <% end %>
          </li>
          <li>
            <% @country3 = Country.in_list.where(:id => @ids[rand(@ids.size)]) %>
            <% if @country3 && @country3.first && @country3.size > 0 %>
                <%= link_to image_tag(@country3.first.flag.url(:thumb)), @country3.first %><%= link_to @country3.first.title, @country3.first %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% if @turs_informer.size > 0 %>
    <div class="box-r">
      <div class="box-r-holder">
        <div class="box-r-frame">
          <strong><%= t(:showcaseTurs) %></strong>
          <ul class="best_tours">
            <% @turs_informer.each do |tur| %>
                <li>
                  <div class="title"><%= link_to tur.title, tur %></div>
                  <span class="thumb"><%= image_tag tur.image.url(:thumbnail) %></span>
                  <ul>
                    <li class="country"><%= image_tag(tur.country.flag.url(:mini)) %> <%= tur.country.title %></li>
                    <li class="hotel"><%= t(:hotel) %>
                      <% 1.upto(tur.stars.to_i) do %><img src="/images/ico-star.png" height="15" width="16" /><% end %>
                    </li>
                    <li class="price"><%= tur.price %> руб.</li>
                  </ul>

                  <div class="ul_footer">
                    <span><a class="pancel" href="#"><span>&nbsp;</span></a></span>
                    <!--img src="/images/ico-pro.png"-->
                    <% if ProAccount.activated(tur.user)%>
                      <%= link_to tur.user.name, company_profile_url(tur.user), :class => "pro" %>
                    <% else %>
                      <%= link_to tur.user.name, company_profile_url(tur.user), :class => "person" %>
                    <% end %>

                  </div>
                </li>

            <% end %>
          </ul>
          <div class="all_turs"><%= link_to t(:all_turs), turs_url %></div>
        </div>
      </div>
    </div>
<% end %>
<div class="box-orange-bg">
  <div class="box-orange-bg-holder">
    <div class="box-orange-bg-frame">
      <strong>Отели</strong>
      <ul>
        <li>
          <img src="/images/img36.jpg" alt="image description"/>

          <div class="hotel-post">
            <a href="#">«Missoni Hotel»</a>

            <p>«Lux» для Эдинбурга, преимущественным образом необходимость, чем выгодные</p>
											<span>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
											</span>
          </div>
        </li>
        <li>
          <img src="/images/img36.jpg" alt="image description"/>

          <div class="hotel-post">
            <a href="#">«Missoni Hotel»</a>

            <p>«Lux» для Эдинбурга, преимущественным образом необходимость, чем выгодные</p>
											<span>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
											</span>
          </div>
        </li>
        <li>
          <img src="/images/img36.jpg" alt="image description"/>

          <div class="hotel-post">
            <a href="#">«Missoni Hotel»</a>

            <p>«Lux» для Эдинбурга, преимущественным образом необходимость, чем выгодные</p>
											<span>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
												<img src="/images/ico-star.png" alt="image description"/>
											</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="box-blue-bg">
  <strong>Попутчики</strong>
  <%= link_to "Найди себе попутчика", companion_index_url %>
  <div class="persons-pitstop">
	<% @companion_ids = CompanionAdvertisement.select(:id).all %>
    <ul>
	  <% @companion1 = CompanionAdvertisement.where(:id => @companion_ids[rand(@companion_ids.size)]).first %>
      <% if @companion1 %><li><a href="<%= companion_url(@companion1) %>"><img src="<%= @companion1.user.avatar.url(:small) %>" alt="<%= @companion1.user.display_name %>"/></a></li><% end %>
	  <% @companion2 = CompanionAdvertisement.where(:id => @companion_ids[rand(@companion_ids.size)]).first %>
      <% if @companion2 %><li><a href="<%= companion_url(@companion2) %>"><img src="<%= @companion2.user.avatar.url(:small) %>" alt="<%= @companion2.user.display_name %>"/></a></li><% end %>
	  <% @companion3 = CompanionAdvertisement.where(:id => @companion_ids[rand(@companion_ids.size)]).first %>
      <% if @companion3 %><li><a href="<%= companion_url(@companion3) %>"><img src="<%= @companion3.user.avatar.url(:small) %>" alt="<%= @companion3.user.display_name %>"/></a></li><% end %>
    </ul>
  </div>
  <a class="btn-submit-pitstop" href="<%= new_companion_url %>">Подать заявку</a>
  <em>(Для туристов)</em>
</div>
<div class="box-r">
  <div class="box-r-holder">
    <div class="box-r-frame">
      <strong>Лучшие<br/>консультанты</strong>
      <span>» <a href="#">Все консультанты</a></span>
      <ul class="profiles">
        <li class="bg-blue">
          <strong>Алексеева Екатерина</strong>
          <img src="/images/img4.jpg" alt="image description"/>
          <ul>
            <li><img src="/images/ico-mail.png" alt="image description"/>Сообщение</li>
            <li><img src="/images/ico-icq.png" alt="image description"/>30981574</li>
            <li><img src="/images/ico-skype.png" alt="image description"/>AlekseevaKatya</li>
            <li><img src="/images/ico-doc.png" alt="image description"/>АльянсТуры.ру</li>
            <li><img src="/images/ico-phone.png" alt="image description"/><span class="over">(495) 778-66-53<br/>(495) 778-66-53</span>
            </li>
          </ul>
        </li>
        <li class="bg-line">
          <strong>Виктория</strong>
          <img src="/images/img5.jpg" alt="image description"/>
          <ul>
            <li><img src="/images/ico-mail.png" alt="image description"/>Сообщение</li>
            <li><img src="/images/ico-icq.png" alt="image description"/>30981574</li>
            <li><img src="/images/ico-skype.png" alt="image description"/>AlekseevaKatya</li>
            <li><img src="/images/ico-doc.png" alt="image description"/>АльянсТуры.ру</li>
            <li><img src="/images/ico-phone.png" alt="image description"/><span class="over">(495) 778-66-53<br/>(495) 778-66-53</span>
            </li>
          </ul>
        </li>
        <li>
          <strong>Алина Пономарева</strong>
          <img src="/images/img6.jpg" alt="image description"/>
          <ul>
            <li><img src="/images/ico-mail.png" alt="image description"/>Сообщение</li>
            <li><img src="/images/ico-icq.png" alt="image description"/>30981574</li>
            <li><img src="/images/ico-skype.png" alt="image description"/>AlekseevaKatya</li>
            <li><img src="/images/ico-doc.png" alt="image description"/>АльянсТуры.ру</li>
            <li><img src="/images/ico-phone.png" alt="image description"/><span class="over">(495) 778-66-53<br/>(495) 778-66-53</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="search-tour">
  <img src="/images/img41.jpg" alt="image description"/>
  <a href="#">Найти турагентство</a>
</div>
</div>

