<h1>Listing user_countries</h1>

<table>
  <tr>
    <th>Country</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_countries.each do |user_country| %>
  <tr>
    <td><%= user_country.country_id %></td>
    <td><%= user_country.user_id %></td>
    <td><%= link_to 'Show', user_country %></td>
    <td><%= link_to 'Edit', edit_user_country_path(user_country) %></td>
    <td><%= link_to 'Destroy', user_country, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User country', new_user_country_path %>
