<h1>Listing uslugis</h1>

<table>
  <tr>
    <th>Val</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uslugis.each do |uslugi| %>
  <tr>
    <td><%= uslugi.val %></td>
    <td><%= uslugi.user_id %></td>
    <td><%= link_to 'Show', uslugi %></td>
    <td><%= link_to 'Edit', edit_uslugi_path(uslugi) %></td>
    <td><%= link_to 'Destroy', uslugi, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Uslugi', new_uslugi_path %>
