<p id="notice"><%= notice %></p>

<p>
  <b>Val:</b>
  <%= @uslugi.val %>
</p>

<p>
  <b>User:</b>
  <%= @uslugi.user_id %>
</p>


<%= link_to 'Edit', edit_uslugi_path(@uslugi) %> |
<%= link_to 'Back', uslugis_path %>
