- semantic_form_for [:admin, @journal], :html => {:multipart => true} do |f|
  - f.inputs do
    = f.input :title, :label => t(:title)
    = f.input :recomended, :label => "Рекомендовать"

    = f.input :text, :label => t(:text)

    = f.input :country_id, :as => :select, :collection => options_from_collection_for_select(@countries, "id", "title"), :label => "Страна"
    = f.input :category_id, :as => :select, :collection => options_from_collection_for_select(@categories, "id", "name"), :label => "Рубрика"

    = render :partial => "facility_photo"
  - f.buttons do
    = f.commit_button :label => t(:save)
