<% content_for :breadcramb do %>

    <!--div class="breadcrambs-holder">
				<!--<a href="#" class="left">Предыдущая<br />страна</a>-->
				<!--<a href="#" class="right">Следующая<br />страна</a>-->
      <%#= render_navigation :renderer => :breadcrumbs, :join_with => " &gt; " %>
				<!--<ul class="breadcrambs">-->
					<!--<li><%#= link_to t(:countries), countries_path %></li>-->
					<!--<li class="no-line"><%#= @country.title %></li>-->
				<!--</ul>-->
			<!--/div-->

<% end %>



<div >
 <p class="journal-favorites"> <strong> Каталог <%#= "<em>#{@category.name}</em>" if @category && @category.name %></strong></p>

  <!--<span class="line-p-right"><img src="/images/ico-qn.png" alt="image description"/><%#= link_to 'Добавить свою статью', new_category_journal_url(@category), :class=>'add-post' %></span>-->
  <div class="main_catalog">
    <% @users.each do |user| %>
        <div class="element_catalog" <% if SelectionService.activated(user)%> style="background-color: #DFF3FF;" <% end %>>
          <!--<em><%=  Russian::strftime(user.created_at, "%d %B %Y") %></em>-->
          <div class="catalog_info">
            <%= image_tag user.avatar.url(:small), :style => "float:left; padding:15px;" %>
            <%= link_to user.name, company_profile_url(user) %>
            <div>Город: <%= user.city.name if user.city %></div>
            <div>Раздел: <%= type_profiles(user) %></div>
            <div><%=  user.slogan %></div>
          </div>


 <div class="stat" <% if SelectionService.activated(user)%> style="background-color: #E8E0CE;" <% end %>>
          <span style="margin: 0 0 5px 0;"><img src="/images/ico-small-list.png" alt="image description"/>Рейтинг: <span><%= user.raiting %></span></span><br/>
          <span style="margin: 0 0 5px 0;"><img src="/images/ico-small-arrow.png" alt="image description"/>Просмотров: <span><%= user.review %></span></span><br/>
          <span style="margin: 0 0 5px 0;"><img src="/images/ico-small-dollar.png" alt="image description"/>Цена: <span><%= user.price %></span></span><br/>
          <span style="margin: 0 0 5px 0;"><img src="/images/ico-small-book.png" alt="image description"/>Статьи: <span><%= Journal.where(:user_id => user.id ).count %></span></span><br/>
        </div>
          <% if ProAccount.activated(user)%>
          <ul class="pro_content_catalog">
            <% @photos = user.photos.limit(3) %>
            <% for photos in @photos do %>
                <li><%= image_tag photos.image.url(:small) %></li>
            <% end %>
          </ul>
          <% end %>
          <div class="links">
          <ul class="catalog_bottom">

          <li><%= link_to 'Отзывы (0)', company_comments_url(user) %><em>&nbsp;</em></li>
          <li><%= link_to 'Видео (0)', company_videos_url(user)  %><em>&nbsp;</em> </li>
          <li><%= link_to 'Фото (0)', company_photos_url(user)  %><em>&nbsp;</em></li>

          </ul>
            </div>
        </div>
    <% end %>
  </div>




  <%#= will_paginate @users %>

</div>

<!--table>
  <tr>
    <td>Имя</td>
    <td>Описание</td>
    <td>телефон</td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, company_profile_url(user) %></td>
    <td><%= user.about if user %></td>
    <td><%= user.phone if user %></td>
  </tr>
      <% end %>
</table-->