<% form_for :companion_advertisement, :url => {:controller => :companion, :action => :index}, :html => {:method => :get} do |form| %>
	<table>
	  <tr>
		<td>
		  Количество дней
		</td>
		<td>
		  <%= form.text_field :days, :value => (params[:companion_advertisement][:days] if params[:companion_advertisement].present?) %>
		</td>
	  </tr>
	  <tr>
		<td>
		  Когда
		</td>
		<td>
		  <table>
			<tr>
			  <td><%= form.text_field :start_date, :value => (params[:companion_advertisement][:start_date] if params[:companion_advertisement].present?), :readonly => :readonly %></td>
			  <td>-</td>
			  <td><%= form.text_field :end_date, :value => (params[:companion_advertisement][:end_date] if params[:companion_advertisement].present?), :readonly => :readonly %></td>
			</tr>
		  </table>
		</td>
	  </tr>
	  <tr>
		<td>
		  Вы
		</td>
		<td>
		  <%= form.select :request_type, [["М", 1], ["Ж", 2], ["Группа М", 3], ["Группа Ж", 4], ["Смешанная группа", 5]], :selected => (params[:companion_advertisement][:request_type] if params[:companion_advertisement].present?) %>
		</td>
	  </tr>

	  <tr>
		<td>
		  Кого ищите
		</td>
		<td>
		  <%= form.select :author_type, [["М", 1], ["Ж", 2], ["Группа М", 3], ["Группа Ж", 4], ["Смешанная группа", 5]], :selected => (params[:companion_advertisement][:author_type] if params[:companion_advertisement].present?) %>
		</td>
	  </tr>>
	  <tr>
		<td>
		  Откуда
		</td>
		<td>
		  <%= form.select :from_city, City.all.map{|city| [city.name, city.id]}, :selected => (params[:companion_advertisement][:from_city] if params[:companion_advertisement].present?) %>
		</td>
	  </tr>
	  <tr>
		<td>
		  Куда
		</td>
		<td>
		  <%= form.text_field :where, :value => (params[:companion_advertisement][:where] if params[:companion_advertisement].present?) %>
		</td>
	  </tr>
	  <tr>
		<td>Ищу спонсора</td>
		<td>
		  <%= form.check_box :sponsor %>
		</td>
	  </tr>
	</table>
	<%= form.submit "Поиск" %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
	  $("#companion_advertisement_start_date").datepicker({
		  dateFormat: 'yy-mm-dd'});
	  $("#companion_advertisement_end_date").datepicker({
	  		  dateFormat: 'yy-mm-dd'});
  });
</script>
<table>
  <thead>
  <tr>
	<td>Заголовок</td><td>Количество дней</td><td>Откуда</td><td>Куда</td><td>Комментарии</td><td>Кто</td><td>Кого ищет</td><td>Пользователь</td>
  </tr>
  <% for advertisement in @advertisements %>
  <tr>
  		<td><%= advertisement.title %></td><td><%= advertisement.days %></td><td><%= City.where(:id => advertisement.from_city).first.name if advertisement.from_city > 0 %></td><td><%= advertisement.where %></td><td><%= advertisement.description %></td><td><%= ["М", "Ж", "Группа М", "Группа Ж", "Смешанная группа"][advertisement.author_type - 1] %></td><td><%= ["М", "Ж", "Группа М", "Группа Ж", "Смешанная группа"][advertisement.request_type - 1] %></td><td><%= link_to advertisement.user.display_name, user_url(advertisement.user_id) %></td>
  </tr>
  <% end %>
  </thead>
</table>