<div class="journal-favorites">
  <strong>Туристический журнал <em><%= @category.name if @category && @category.name %></em></strong>

  <!--<span class="line-p-right"><img src="/images/ico-qn.png" alt="image description"/><%#= link_to 'Добавить свою статью', new_category_journal_url(@category), :class=>'add-post' %></span>-->
  <ul>
    <% for post in @journals -%>
        <li>
          <em><%=  Russian::strftime(post.created_at, "%d %B %Y") %></em>

          <p class="title"><%= link_to post.title, post %></p>

          <div class="img-holder">
            <% @photos = post.journal_photos.limit(3) %>
            <% for photo in @photos do %>
                <%= image_tag photo.image.url(:small) %>
            <!--<img src="/images/img42.jpg" alt="image description"/>-->
            <% end %>
          </div>
          <p><%= h post.text %></p>
          <span>Раздел: <% if post.category%> <%= link_to post.category.name, post.category %> <% end %>
            <% if post.user %> |  Разместил: <%= link_to post.user.email, company_profile_url(post.user) %><% end %></span>
          <span class="line-p-right">Комментарии <em>(<%= post.comments.recent.all.count %>)</em></span>
        </li>
    <% end -%>
  </ul>




  <%#= will_paginate @journals %>

</div>
