<% if notice and notice.length > 0 %><p class="notice"><%= notice %></p><% end %>
<% if alert and alert.length > 0 %><p class="alert"><%= alert %></p><% end %>

<div class="journal-favorites">
  <strong>
    Туристический журнал
  </strong>

<p>
   <%= link_to @journal.user.email, company_profile_url(@journal.user) if @journal.user %> &rarr;
   <em><%=  Russian::strftime(@journal.created_at, "%d %B %Y") %></em>
</p>

<p class="title">
  <%= @journal.title %>
</p>

<p>
  <%= @journal.text %>
</p>

 <% @photos = @journal.journal_photos %>
            <% for photo in @photos do %>
                <%= image_tag photo.image.url(:large), :class=>'jimage' %><br/>
            <!--<img src="/images/img42.jpg" alt="image description"/>-->
            <% end %>

</div>

<div class="comment_form">
  <strong><%= t(:comments) %> (<%= @journal.comments.recent.all.count %>)</strong>
  <ul class='comments'>
    <%= render @comments %>
  </ul>

  <strong>Новый комментарий</strong>

  <% form_for :comment, :url=> journal_add_comment_path(@journal.id) do |f| %>

  <% unless current_user %>
  <p class="field">
    <%= f.text_field :title, :class => 'text-input' %> Укажите имя
  </p>
  <% else %>
  <p class="field">
    Вы вошли как <strong><%= current_user.email %></strong>.
  </p>
  <% end %>

  <p class="field">
    <%= f.text_area :text, :class => 'mceEditor' %>
  </p>

  <%= f.submit "Добавить коментарий"%>

  <% end %>

</div>


<%#= link_to 'Edit', edit_journal_path(@journal) %>
<%#= link_to 'Back', journals_path %>
<%#= link_to 'newPost', new_post_path %>