<p id="notice"><%= notice %></p>

<p>
  <%= link_to @journal.user.email, company_profile_url(@journal.user) if @journal.user %>
</p>

<p>
  <strong><%= @journal.title %></strong>
</p>

<p>
  <%= @journal.text %>
</p>

 <% @photos = @journal.journal_photos %>
            <% for photo in @photos do %>
                <%= image_tag photo.image.url(:large), :class=>'jimage' %><br/>
            <!--<img src="/images/img42.jpg" alt="image description"/>-->
            <% end %>

<div>
  <strong><%= t(:comments) %> (<%= @journal.comments.recent.all.count %>)</strong>
  <ul class='comments'>
<%= render @comments %>
 </ul>
  <% form_for :comment, :url=> journal_add_comment_path(@journal.id) do |f| %>

      <div class="field">
    <%= f.text_area :text, :cols=>"80", :rows => "15" , :class => 'mceEditor' %>
  </div>

  <%= f.submit "Добавить коментарий"%>
  <% end %>

</div>


<%#= link_to 'Edit', edit_journal_path(@journal) %>
<%#= link_to 'Back', journals_path %>
<%#= link_to 'newPost', new_post_path %>