<%= form_for(@report, :html => {:multipart => true}) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

    <div class="field">
    <%= f.label :journal_id %><br />
    <%= f.select :journal_id, "<option value=0>Выберите статью</option>".html_safe + options_from_collection_for_select(Journal.all, "id", "title") %>
  </div>

    <div class="field">
    <%= f.label :country %><br />
    <%= f.select :country_id, "<option value=0>Выберите страну</option>".html_safe + options_from_collection_for_select(Country.all, "id", "title") %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
