<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @settings.meta_title %> - <%= yield(:title) %></title>
  <meta name="description" content="<%= @content_for_meta_description.blank? ? @settings.meta_description : @content_for_meta_description %>"></meta>
  <meta name="keywords" content="<%= @content_for_meta_keywords.blank? ? @settings.meta_keywords : @content_for_meta_keywords %>"></meta>
  <%= stylesheet_link_tag "style",
                          'form'
  %>

  <%= stylesheet_link_tag %w(display captcha) %>
  <%= stylesheet_link_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/ui-lightness/jquery-ui.css' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js' %>
  <%= javascript_include_tag 'rails_jquery.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js' %>
  <%= javascript_include_tag 'application.js', 'ajaxupload.3.5.js' %>
  <%= javascript_include_tag 'http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js' %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'jquery-ui.min', 'application', 'rails', 'jquery.tools.min' %>
  <%= javascript_include_tag 'jquery.timers' %>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  <!-- Put this script tag to the <head> of your page -->
  <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>

  <script type="text/javascript">
    VK.init({apiId: 2726049, onlyWidgets: true});
	$(document).ready(function(){
		$("#chat").everyTime(10000, function(i){
			$.getScript('<%= url_for :controller => :chat, :action => :index %>');
		});
	})
	function say(login){
		$("input#message").val("<" + login + ">" + $("input#message").val());
		$("input#message").focus();
	}
  </script>


</head>
<body>
<div id='wrapper'>
<%= auto_discovery_link_tag(:rss, feed_url) %>

  <%= render :partial => "shared/header" %>


  <div id="main">

    <%= yield :main_layout %>

    <%= render :partial => "shared/righ_menu" %>

    <div id="twocolumns">
      <% if notice and notice.length > 0 %><p class="notice"><%= notice %></p><% end %>
      <% if alert and alert.length > 0 %><p class="alert"><%= alert %></p><% end %>

      <%= yield :two_columns %>

      <%= render :partial => "shared/left_menu" %>

      <div id="content" style="height:1%;overflow:hidden;">

      <%= yield %>

      </div>

      <%= yield :country_journal %>
      <%= yield :country_reports %>

      </div>

    </div>
  </div>

  <div class="highlighted_companies">
    <%= link_to t(:add_adv), "#", :class => 'right' %>
        <strong style="font-size: 18px; text-decoration: underline;"><%= t(:obr_vn) %></strong>
    <ul>
      <% @highlighted_companies.each do |company|%>
        <li>
          <div>
            <%= link_to image_tag(company.user.avatar.url(:medium)), company_profile_url(company.user) , :style => "float:left; padding-right:10px"%>
            <% if ProAccount.activated(company.user)%>
                    <%= image_tag "ico-pro.png"%>
                <% else %>
                    <%= image_tag "ico-person-gs.png"%>
                <% end %>
            <%= link_to company.user.name, company_profile_url(company.user)  %><br/>
            <%= company.user.info  %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

<script>
// execute your scripts when the DOM is ready. this is mostly a good habit
$(function() {

	$("#scrollable").scrollable().navigator();

});
</script>

<% if @mentions && @mentions.size > 0 %>

  <div class="highlighted_companies">
    <a class="prev browse left"></a>
    <div class="navi"></div>
    <div id="scrollable" >

    <%#= link_to t(:otziv), "#", :class => 'right' %>
        <!--<strong style="font-size: 18px; text-decoration: underline;"><%= t(:otziv) %></strong>-->
    <div class="items">
      <% @mentions.each do |mention|%>
        <div>
          <p><%= image_tag mention.avatar.url(:medium) %></p>
			<p><strong><%= mention.title %></strong></p>
			<p>
			  <%= mention.text %>
			</p>

			<p>
			  <%= link_to_if mention.page_url.present?, mention.name, mention.page_url %>
			  <% if mention.profession.present? %>
			  	- <%= mention.profession %>
			  <% end %>
			</p>
        </div>
      <% end %>
    </div>

  </div>
    <a class="next browse right"></a>
  </div>

    <% end %>
  <%= render :partial => "shared/footer" %>

</div>
	<% unless controller_name.eql?"chat" %>
<div id="chat">
  <%= render :partial => "chat/chat" %>
</div>
	<% end %>
</body>
</html>