<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @settings.meta_title %> - <%= yield(:title) %></title>
  <meta name="description" content="<%= @content_for_meta_description.blank? ? @settings.meta_description : @content_for_meta_description %>"></meta>
  <meta name="keywords" content="<%= @content_for_meta_keywords.blank? ? @settings.meta_keywords : @content_for_meta_keywords %>"></meta>
  <%= stylesheet_link_tag 'style', 'form', 'slide-image','lightbox' %>
  <%# javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/ui-lightness/jquery-ui.css' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js' %>
  <%= javascript_include_tag 'rails_jquery.js',"jquery.lightbox.js" %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js' %>
  <%= javascript_include_tag 'ajaxupload.3.5.js', 'popup', 'jquery.ui-slider', 'jquery.cycle.all' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'jquery.tools.min', 'jquery.carouFredSel-5.3.0' %>
  <%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui', 'jcrop.min' ,"pic_handler"%>
  <%= stylesheet_link_tag('jquery.fileupload-ui') %>
  <%= stylesheet_link_tag "jcrop" %>

  <%= csrf_meta_tag %>
<%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% if Rails.env.production? %>
    <script src="http://api-maps.yandex.ru/1.1/?key=ACfJ-E4BAAAA8CqJGQIAxir_i0Rea9KzFP090GM41-55Q1IAAAAAAAAAAADD1hxG4c0tTTC1LCfA3UNprPIKUQ==&modules=pmap&wizard=constructor" type="text/javascript"></script>
<% else %>
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=AC-0gU0BAAAAgsrxTwIAYC9mTt3wPpnp23qb7qdeOe1w25wAAAAAAAAAAAC703LgW8HXfrQ2tu9gS1X_ryVnIw==" type="text/javascript"></script>
<% end %>

</head>
<body>
<div id='wrapper'>

  <%= render :partial => "shared/header" %>
  <div id="main">
    <%= render :partial => "shared/left_menu_company" %>
    <div id="twocolumns">
      <%= render :partial => "shared/righ_menu" %>


      <div id="content" style="height:1%;overflow:hidden;">


              <div class="tabs">
                <div class="tabs-holder">
							<ul>
								<li><%= link_to_unless_current 'Портфолио', company_profile_url(@profile) %><em>&nbsp;</em></li>
								<li><%= link_to_unless_current 'Фотографии', company_photos_url(@profile) %><span>(<%= @profile.photos.all.count  %>)</span><em>&nbsp;</em></li>
								<li><%= link_to_unless_current 'Видео', company_videos_url(@profile) %><span>(<%= @profile.videos.all.count %>)</span><em>&nbsp;</em></li>
								<li><%= link_to_unless_current 'Направление', company_profile_directions_url(@profile) %><span>(<%= @profile.directions.all.count %>)</span><em>&nbsp;</em></li>
								<li><%= link_to_unless_current 'Наши туры', company_profile_turs_url(@profile) %><span>(<%= @profile.turs.all.count %>)</span><em>&nbsp;</em></li>
								<li><%= link_to_unless_current 'Карта',  company_profile_contact_map_url(@profile) %> </li>
								<li><%= link_to_unless_current 'Отзывы', company_comments_url(@profile) %><span>(<%= @profile.comments.recent.all.count %>)</span><em>&nbsp;</em></li>
							</ul>
						</div>
              </div>
        <form action="#" method="post">

  </form>
              <%= yield %>



      </div>
    </div>
  </div>


  <%= render :partial => "shared/footer" %>

</div>
</body>
</html>
